# ==========================================
# Configurazione Globale MinecraftAdmin
# ==========================================

# Database
DB_ROOT_PASSWORD=CambiaQuestaConUnaPasswordSicura
DB_PASSWORD=mcpassword
DB_USER=mcuser
DB_DATABASE=minecraft
DB_HOST=mc_db

# RCON
RCON_PASSWORD=CambiaQuestaConUnaPasswordSicura

# Web Panel Auth
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
AUTH_SECRET=changeme_to_a_secure_random_string_12345
